{% extends "partials/_wrapper.njk" %}
{% block main %}

<body class="cover">
  <header class="cov__hed">
    <h1 class="cov__hed--title">{{ title }}</h1>
  </header>
  <nav class="cov__toc toc"></nav>
  <figure class="cov">
    <img class="cov__grfx" src="/img/DSC_0112.jpg" alt="Our hero, out of focus.">
    <figcaption class="cov__dek">
      <article class="cov__dek--body">{{ content | safe }}</article>
    </figcaption>
  </figure>

  <footer class="cov__foot foot">
    <h2 class="foot__credit">&copy; {{ site.buildTime | copyDate }} Jeff Rummel</h2>
    <nav class="foot__nav"><a class="foot__nav--link" href="//github.com/jeffrummel">{% include 'icons/github.svg' %} <span class="foot__nav--text">GitHub</span></a><a class="foot__nav--link" href="//twitter.com/jeffrummel">{% include 'icons/twitter.svg' %}<span class="foot__nav--text">Twitter</span></a></nav>
  </footer>
  <script src="/js/main.js" async></script>
</body>
{% endblock %}
