@keyframes loadNavM {
  0% {

  }
  10% {
    background: white;
    top: 0;
    right: 0;
  }
  64% {
    height: 100%;
  }
  100% {
    height: 100%;
    width: 100%;
    background: white;
    top: 0;
    right: 0;
    border-radius: 0;
  }
}
@keyframes loadNavD {
  0% {

  }
  10% {
    background: white;
    top: 0;
    right: 0;
  }
  64% {
    height: 100%;
  }
  100% {
    height: 100%;
    width: 24vw;
    background: white;
    top: 0;
    right: 0;
    border-radius: 0;
  }
}

@keyframes actionSwitch {
  0% {
    // introduce action link
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
  }
  100% {
    // margin-top: 2vh;
    clip-path: polygon(0% 0%, 0% 100%, 130% 100%, 130% 0%);
    overflow: visible;
  }
}
@keyframes borderSet {
  // action link over
  0% {
    width:0%;
    left:0;
  } 40% {
    width:57%;
    left:0;
  } 100% {
    width:57%;
    left:0;
  }
}
@keyframes borderSlide {
  // action link over
  0% {
    width:57%;
    left:0;
  } 40% {
    width:0%;
    left:0;
  } 50% {
    width:0%;
  } 60% {
    width:0%;
    right:0;
  } 70% {
    width:0%;
  } 100% {
    width:57%;
    right:0;
  }
}
@keyframes marq {
  0% {
    background-color: rgba(#000, 1);
    background-size: 120% auto;
    background-position: center;
  } 100% {
    background-color: rgba(#3D2A24, .57);
    // background-size: 120% auto;
    // background-position: left center;
  }
}
@keyframes hed {
  0% {
    clip-path: circle(0 at 0 25%);
  } 67% {
    clip-path: circle(100vw at 0 50%);
  }
  100% {
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  }
}
@keyframes title {
  0% {
    opacity: 0;
    margin-bottom: 0;
  } 100% {
    opacity: 1;
    // margin-bottom: 1vh;
  }
}
@keyframes sub {
  0% {
    opacity: 0;
    margin: 0;
  } 67% {
    margin: 1vh 0 2vh;
  } 100% {
    opacity: 1;
    margin: 1vh 0 2vh;
    letter-spacing: 1.3px;
  }
}
@keyframes dek {
  0% {
    opacity: 0;
    // margin: 0;
  } 100% {
    opacity: 1;
    // margin: 2vh 0;
    letter-spacing: 1.3px;
  }
}

@keyframes card {
  0% {
    // height: 0;
    transform: scale(.93);
    // margin-bottom: 7vh;
  } 67% {
    // height: 57vh;
  } 100% {
    // height: 57vh;
    transform: scale(1);
    // margin-bottom: 0;
  }
}
@keyframes cardOff {
  0% {
  } 100% {
    transform: scale(.95);
  }
}
