<section class="data">
  <h2 class="data__hed">All Features</h2>

  <dl class="data__list">
    <dt class="data__list--term">Flexible Content Management:</dt>
    <dd class="data__list--def">Custom Homepage <span>&check;</span> </dd>
    <dd class="data__list--def">Blog/Article Pages <span>&check;</span> </dd>
    <dd class="data__list--def">Issue/Platform Pages <span>&check;</span> </dd>
    <dd class="data__list--def">Basic Pages <span>&check;</span> </dd>
    <dd class="data__list--def">Ad Landing Pages <span>&check;</span> </dd>
    <dd class="data__list--def">Password protected pages <span>&check;</span></dd>
    <dd class="data__list--def">Unlimited page redirects <span>&check;</span></dd>

    <dd class="data__list--def">Analytics and Ad Tracking <small>(Up to 2hrs Developer Time)</small> <span>&check;</span> </dd>
    <dd class="data__list--def">EveryAction wrappers <span>&plus;</span> </dd>
    <dd class="data__list--def">Content Management Training <span>&check;</span> </dd>
    <dd class="data__list--def">Additional Content Management Training  <span>&plus;</span></dd>

    <dt class="data__list--term">Responsive Web Design:</dt>
    <dd class="data__list--def">Designed Components <small>400+ layout combinations (Responsive Web Design Included)</small> <span>&check;</span> </dd>
    <dd class="data__list--def">Custom Typography <small>(Typekit, Google Fonts)</small> <span>&check;</span> </dd>
    <dd class="data__list--def">Custom Branding/Colors <span>&check;</span> </dd>
    <dd class="data__list--def">Design Revisions 2 <span>&check;</span></dd>
    <dd class="data__list--def">Custom Typography (Hosted fonts) <span>&plus;</span></dd>

    <dt class="data__list--term">Integrations:</dt>
    <dd class="data__list--def">EveryAction <span>&check;</span> </dd>
    <dd class="data__list--def">ActionNetwork <span>&check;</span> </dd>
    <dd class="data__list--def">MailChimp Signup Form Embed <span>&plus;</span> </dd>

    <dt class="data__list--term">Security, Maintenance &amp; Support:</dt>
    <dd class="data__list--def">SSL certificate or bring your own <span>&check;</span> </dd>
    <dd class="data__list--def">Serverless Architecture <span>&check;</span> </dd>
    <dd class="data__list--def">No database means zero database vulnerabilities <span>&check;</span> </dd>
    <dd class="data__list--def">Lighting fast content delivery network <span>&check;</span> </dd>
    {# <dd class="data__list--def">99% Uptime <span>&check;</span> </dd> #}
    <dd class="data__list--def">24/7 System Monitoring <span>&check;</span> </dd>

  </dl>
</section>