<section class="data">
  <h2 class="data__hed">All Features</h2>

  <dl class="data__list">
    <dt class="data__list--term">Flexible Content Management</dt>
    <dd class="data__list--def">Sample Item</dd>
    <dd class="data__list--def">Another entry</dd>
    <dd class="data__list--def">Yet one more entry</dd>
    <dd class="data__list--def">Another Item</dd>
    <dd class="data__list--def">And one more</dd>
    <dd class="data__list--def">But wait here's another</dd>
    <dd class="data__list--def">Last item</dd>
    <dt class="data__list--term">Integrations</dt>
    <dd class="data__list--def">Sample Item</dd>
    <dd class="data__list--def">Another entry</dd>
    <dd class="data__list--def">Yet one more entry</dd>
    <dd class="data__list--def">Another Item</dd>
    <dd class="data__list--def">And one more</dd>
    <dd class="data__list--def">But wait here's another</dd>
    <dd class="data__list--def">Last item</dd>
  </dl>
</section>