<div id="contact" class="action">
  <h2 id="get-started" class="action--hed">Get Started</h2>

  <p class="action__dek">Complete the form below to take your first step toward launching a website that drives users to take action and loads fast on all types of secure connections.</p>

  <form class="action__form" name="contact" netlify-honeypot="bot-field" netlify>
    <div class="action__form--item">
      <label for="name">First Name</label>
      <input id="name" type="text" name="name" />
    </div>
    <div class="action__form--item">
      <label for="email">Email Address</label>
      <input id="email" type="email" name="email" />
    </div>
    <div class="action__form--full">
      <label for="message">Message</label>
      <textarea id="message" name="message"></textarea>
    </div>
    <button class="action--cta" type="submit">Let's Go</button>
  </form>

</div>
