<header class="dest__hed">
  <h1 class="dest__hed--title">
    <a href="/">
    <span>Jeff Rummel Dot Com</span>
    <img src="/img/logo.webp">
    </a>
  </h1>
  <button id="menu-toggle" class="dest__hed--menu">
    <span>Menu</span>
    {% include "../icons/nav.svg.njk" %}
  </button>
</header>
<nav class="dest__nav">
  <ul class="nav">
    <li class="nav__item">
      <a href="/" class="nav__item--link">Homepage</a>
    </li>
    <li class="nav__item">
      <a href="/rapid-response-websites" class="nav__item--link">Rapid Response Websites</a>
    </li>
    <li class="nav__item">
      <a href="/custom-websites" class="nav__item--link">Custom Websites</a>
    </li>
    {# <li class="nav__item">
      <a href="/use-cases" class="nav__item--link">Use-Cases</a>
    </li> #}
    <li class="nav__item">
      <a href="/resume" class="nav__item--link">Resume</a>
    </li>
    <li class="nav__item">
      <a href="/colophon" class="nav__item--link">Colophon</a>
    </li>
  </ul>
</nav>