  <section class="kickers">
  {% for kicker in kickers.kickers %}
    <div class="kickers__item">
      <figure class="kickers__item--grfx"></figure>
      <h3 class="kickers__item--hed">{{ kicker.hed }}</h3>
      <p class="kickers__item--dek">{{ kicker.dek }}</p>
    </div>
  {% endfor %}
  </section>
