  <section id="start-here" class="cards">
  {% for kicker in kickers.kickers %}
    <div class="cards__card">
      <h3 class="cards__card--hed">{{ kicker.hed }}</h3>
      <div class="cards__card--body">
        <p class="cards__card--dek">{{ kicker.dek }}</p>
        {% if kicker.links %}
        <footer class="cards__card--foot">
        {% for link in kicker.links %}
          <a class="cards__card--cta" href="{{ link.url }}">{{link.cta}}</a>
        {% endfor %}
        </footer>
      </div>
      {% endif %}
    </div>

  {% endfor %}
  </section>
