.data {
  position: relative;
  min-height: 100vh;
  box-sizing: content-box;
  padding: 9.5vh 3.5vw;
  // margin-bottom: -80vh;
  background-color: #0F4F6B;
  flex-flow: column nowrap;
  color: white;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    padding-bottom: 80vh;
    margin-bottom: -80vh;
    width: 100vw;
    background: linear-gradient(to bottom, #0F4F6B 0, rgba(#0F4F6B, 0) 80vh);
  }
  &__hed {
    margin: 0 auto;
    max-width: 1080px;
    @extend %siteH2;
  }
  &__list {
    position: static;
    top: 0;
    margin: 0 auto;
    max-width: 1080px;
    display: grid;
    grid-template: auto / minmax(200px, 288px) 3fr;
    gap: 6px 12px;
    align-items: baseline;
    justify-content: space-evenly;
    overflow-x: hidden;
    padding-top: 16px;
    scroll-snap-align: none;
    &--term {
      text-align: right;
      grid-column: 1;
      position: relative;
      // padding: 12px 0;
      @extend %siteH6;
      margin-top: 12px;
      &:last-of-type {
        margin-top: 12px;
      }
      &:before {
        content: '';
        display: block;
        grid-column: 1 / span 2;
        background-color: white;
        height: 2px;
        border-radius: 2px;
        position: absolute;
        top: -12px;
        left: 0;
        width: 1080px;
      }
    }
    &--def {
      grid-column: 2;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      // padding: 12px 0 0;
      @extend %siteP;
      span {
        flex: 1;
        margin-left: 6px;
      }
    }
  }
}