.dest {
  &.visible-nav {
    overflow-y: hidden;
    @media screen and (min-width: 767px) {
      overflow-y: scroll;
    }
  }
  &__hed {
    height: 0;
    position: relative;
    z-index: 4;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: content-box;
    @media screen and (max-width:740px) {
      width:calc(100vw - 16px);
      padding:0 8px;
    }
    @media screen and (min-width:740px) {
      padding:0 26px;
    }
    &--title {
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: flex-start;
      justify-content: space-between;
      a {
        display: flex;
        width: 100%;
      }
      img {
        max-width: 100%;
      }
      span {
        opacity: 0;
        display: none;
        // @extend %siteHed;
        margin-top: 8px;
      }
      @media screen and (max-width:740px) {
        flex: 0 1 134px;
      }
      @media screen and (min-width:740px) {
        flex: 0 1 196px;
        span {
        }
      }
    }
    &--logo {
      flex:0 0 100%;
      .visible-nav & {
        fill: #D41E94;
        @media screen and (min-width: 767px) {
          fill: white;
        }
      }
    }
    &--menu {
      cursor: pointer;
      background: transparent;
      -webkit-appearance: none;
      flex: 0 0 43px;
      width: 43px;
      height: 20px;
      margin-top: 24px;
      fill: #fff;
      border: 0;
      span {
        opacity: 0;
        display: none;
        // @extend %siteHed;
        margin-top: 8px;
      }
      .visible-nav & {
        fill: #D41E94;
      }
    }
  }
  &__nav {
    background: transparent;
    position: absolute;
    border-radius: 7px;
    z-index: 3;
    top: 10px;
    right: 8px;
    bottom: 0;
    height: 30px;
    width: 42px;
    overflow: hidden;
    @media screen and (min-width: 767px) {
      top: 28px;
      right: 60px;
    }
    .visible-nav & {
      background: white;
      position: fixed;
      box-shadow: 0 0 44px 12px rgba(pink, .5);
      animation: loadNavM .7s forwards 
        // cubic-bezier(0.175, 0.885, 0.32, 1.275)
        cubic-bezier(0.19, 1, 0.22, 1)
      .1s 1;
      @media screen and (min-width: 767px) {
        animation: loadNavD .7s forwards 
        // cubic-bezier(0.175, 0.885, 0.32, 1.275)
        cubic-bezier(0.19, 1, 0.22, 1)
      .1s 1;
      }
    }
  }
}
.nav {
  padding: 100px 24px 24px;
  display: flex;
  flex-flow: column;
  align-items: center;
  &__item {
    margin: 2vh 0;
    width: 100%;
    max-width: 245px;
    &--link {
      list-style: none;
      @extend %siteH6;
      &:link,
      &:visited {
        color: #3D2A24;
        text-decoration: none;
      }
    }
  }
}