.kickers {
  margin: 20vh auto;
  max-width: 1050px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-evenly;
  scroll-snap-align: start;
  &__item {
    max-width: 860px;
    height: 206px;
    margin: 9.5vh 0;
    display: grid;
    grid-template: 1fr auto / minmax(128px,310px) auto;
    gap: 0 3.5vw;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: flex-start;
    &:nth-child(even) {
      align-self: flex-start;
      grid-template: 1fr auto / auto minmax(128px,310px);
    }
    &--hed {
      grid-column: 2;
      grid-row: 1;
      align-self: end;
      @extend %siteH5;
    }
    &--dek {
      grid-column: 2;
      grid-row: 2;
      @extend %siteP;
    }
    &--grfx {
      grid-column: 1;
      grid-row-start: 1;
      grid-row-end: 3;
      width: 310px;
      height: 206px;
      background-color: blueviolet;
    }
    &:nth-child(even) &--hed,
    &:nth-child(even) &--dek {
      grid-column: 1;
    }
    &:nth-child(even) &--grfx {
      grid-column: 2;
    }
  }
}