.marq {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  background-image: url(/img/DSC_0112.jpg);
  background-color: rgba(#000, 1);
  background-position: left center;
  background-attachment: fixed;
  background-size: 120% auto;
  background-blend-mode: multiply;
  animation: marq 2.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 forwards;
  color: #fff;
  &__hed {
    clip-path: circle(0 at 0 25%);
    // background-color: pink;
    animation: hed 1.2s cubic-bezier(.86,.01,.74,.71) 0s 1 forwards;  
  }
  > * {
    box-sizing: border-box;
    width: 100%;
    max-width: 750px;
    padding-right: 110px;
  }
  &--title {
    opacity: 0;
    @extend %siteH1;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: title 3.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 forwards;
  }
  &--sub {
    opacity: 0;
    @extend %siteH2;
    animation: sub 3.3s cubic-bezier(0.075, 0.82, 0.165, 1) .3s 1 forwards;
  }
  &--dek {
    opacity: 0;
    @extend %sitePFeature;
    animation: dek 3.3s cubic-bezier(0.075, 0.82, 0.165, 1) .3s 1 forwards;
  }
  &__grfx {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: start;
    width: 100%;
    height: 100vh;
    &--img {
      flex: 0 0 100%;
      object-fit: cover;
    }
  }
}