.supp {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  scroll-snap-align: start;
  min-height: 100vh;
  max-width: 1300px;
  padding: 0 3.5vw;
  &__post {
    flex: 0 0 40vw;
    padding:  9.5vw 0;
    top: 0;
    position: sticky;
    &--hed {
      @extend %siteH3;
      max-width: 780px;
    }
    &--body {
      @import "helpers/base";
    }
  }
  &__grfx {
    flex: 0 0 40vw;
    // height: 81vh;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -13.5vh;
    // padding: 0 0 9.5vw;
    overflow: hidden;
    // position: sticky;
    top: 3.5vw;
    &--img {
      width: 100%;
      height: auto;
    }
    &--media {}
  }
}